footer{
    position: relative;
    bottom: -2rem;
    // clear: both;
    // margin-top: 20rem;
    width: 100dvw;
    

    #scrolltop{
        height: 2rem;
        width: 2rem;
        position: absolute;
        right: 5%;
        bottom: 25%;
        cursor: pointer;
    }
    #scrolltop:hover{
        background-color: gray;
    }
}