
$primary: #005A9C;
$primary-dark: #014474;
$secondary: #F0F4F8;
$accent: #1DE9B6;
$background-light: #ffffff;
$background-dark: #101922;
        

section{

    .inner-container{
        height: auto;
        margin: 0;
        top: 0;
        margin-top: -5%;
        gap: 1;
       

        .swiper{
            margin: 0;
            
            max-height: 80dvh;
            margin-bottom: -5rem;
        }
       

        .background-container{
            // background-image: linear-gradient(to right, black, gray), !important;
            .btn-container{
                .btn1{
                    cursor: pointer;
                    z-index: 1001;
                    background-color: $primary;
                }
                .btn1:hover{
                    background-color: $primary-dark;
                }
                .btn2{
                    z-index: 1001;
                    background-color: $background-light;
                }
                .btn2:hover{
                    background-color: $secondary;
                }
            }
        }

    }
}